.leaflet-container {
  width: 100wh;
  height: 60vh;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background: white;
  border-top: 1px dotted #b3b4b4;
  font-size: calc(10px + 2vmin);
  height: 100vh;
}

.header {
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  grid-column: 1 / span 2;
}

.title {
  text-align: left;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.button-container {
  align-items: left;
}
.button {
  float: right;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
